<% if @current_user.is_admin? %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= button_tag :class => "btn btn-info btn-block", title: 'Add New', data: { toggle: 'modal', target: "#newsAddModal" } do %>
				<span class="glyphicon glyphicon-plus"></span> Add New News Item
			<% end %>
			<%= render "add-modal", new_announcement: @new_announcement %>
		</div>
	</div>
<% end %>

<%= render "templates/heading", text: @current_page.name, list_of_classes: "" %>
<%= render "templates/alerts/admin-notice" %>
<%= render "templates/alerts/form-errors", model: @new_announcement %>

<div class="row">
	<% @pinned_news.each do |news| %>
		<div class="col-md-4 col-sm-12">
			<div class="panel panel-default card">
				<%= render "admin-function", announcement: news if @current_user.is_admin? %>
				<div class="row vertical-align-middle">
					<div class="col-md-1">
						<h2><span class="glyphicon glyphicon-star yellow"></span></h2>
					</div>
					<div class="col-md-11">
						<h2><%= news.heading %></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h5><%= format_header_date(news.created_at) %></h5>
					</div>
					<div class="col-md-6 align-right">
						<h5>Posted by: <strong><%= news.user.concat_name %></strong></h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= render "announcements/description-only", news: news %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<hr />
<% @other_news.in_groups_of(2, false) do |news_group| %>
	<div class="row">
		<% news_group.each do |news| %>
			<div class="col-md-6 col-xs-12">
				<div class="panel panel-default card">
					<%= render "admin-function", announcement: news if @current_user.is_admin? %>
					<div class="row">
						<div class="col-md-12">
							<h2><%= news.heading %></h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h5><%= format_header_date(news.created_at) %></h5>
						</div>
						<div class="col-md-4 col-md-offset-4 align-right">
							<h5>Posted by: <strong><%= news.user.concat_name %></strong></h5>
						</div>
					</div>
					<div class="row">
						<% if tf_check(news.image_file_name) %>
							<div class="col-md-12">
								<%= render "announcements/description-only", news: news %>
							</div>
						<% else %>
							<%= render "description-with-image", news: news %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
