<% if can? :manage, @announcement %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render new_btn_tag_path, target: "#newsAddModal", button_text: "News Item" %>
			<%= render "add-modal", new_announcement: @announcement %>
		</div>
	</div>
	<%= render form_errors_path, model: @announcement %>
	<%= render notice_path %>
<% end %>

<%= render heading_path, text: raw("<span class='glyphicon glyphicon-pushpin'></span> Pinned ") + @current_page.name %>

<div class="row">
	<% @pinned_news.each do |news| %>
		<%= render "announcements/card", news: news %>
	<% end %>
</div>

<%= render heading_path, text: "Other " + @current_page.name %>
<% @other_news.in_groups_of(3, false) do |news_group| %>
	<div class="row">
		<% news_group.each do |news| %>
			<%= render "announcements/card", news: news %>
		<% end %>
	</div>
<% end %>
