<%= form_with(model: [:admin, event], local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |form| %>
    <div class="row vertical-align-middle">
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :title, 'Event Name:' %></div>
      <div class="col-md-9 col-xs-12"><%= form.text_field :title, { class: 'form-control' } %></div>
    </div>
    <br />
    <div class="row vertical-align-middle">
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :start_date, 'Start Date:' %></div>
      <div class="col-md-2 col-xs-12"><%= form.date_field :start_date, { class: 'form-control' } %></div>
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :end_date, 'End Date:' %></div>
      <div class="col-md-2 col-xs-12"><%= form.date_field :end_date, { class: 'form-control' } %></div>
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :display, 'Display Event:' %></div>
      <div class="col-md-1 col-xs-12"><%= form.check_box :display, { class: 'form-control' } %></div>
    </div>
    <br />
    <div class="row vertical-align-middle">
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :Description, 'Event Description:' %></div>
      <%= tinymce %>
      <div class="col-md-9 col-xs-12"><%= form.text_area :description, { class: 'form-control tinymce' } %></div>
    </div>
    <br />
    <div class="row vertical-align-middle">
      <div class="col-md-2 col-xs-12 text-right"><%= form.label :address_id, 'Event Location:' %></div>
      <div class="col-md-9 col-xs-12"><%= form.select :address_id, Address.return_address_dropdown, {}, { class: 'form-control' } %></div>
    </div>
    <br />
  <div class="row">
    <div class="col-md-4 col-xs-12 col-md-offset-4">
      <%= render save_btn_path, f: form %>
    </div>
  </div>
<% end %>