<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-page", text: "Events", path: admin_events_path %>
  </div>
</div>

<%= render "templates/heading", text: "Editing Event", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>
<%= render "templates/alerts/form-errors", model: @event %>

<%= render "form", event: @event %>
