<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/add-new", path: new_admin_event_path, text: "Event" %>
  </div>
</div>


<%= render "templates/heading", text: "Events", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>

<table class="table table-responsive table-striped" id="events_table">
  <thead>
    <tr class="align-center">
      <th>Name</th>
      <th>Date</th>
      <th>Held in</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="align-center table-hover">
        <td><%= event.title %></td>
        <td><%= formatEventsDateRange(event.start_date, event.end_date) %></td>
        <td><%= event.address.city %>, <%= event.address.state.name %></td>
        <td><%= link_to "Show", admin_event_path(event), :class => "btn btn-success btn-block" %></td>
        <td>
          <%= link_to edit_admin_event_path(event), :class => "btn btn-warning btn-block", title: "Edit #{event.title}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
