<%= render "templates/admin/index-header", path: new_admin_event_path, new_btn_text: "Event", heading_text: "Events" %>

<table class="table table-responsive table-striped" id="events_table">
  <thead>
    <tr class="text-center">
      <th>Event</th>
      <th>Held in</th>
      <th>Last Modified by</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="text-center table-hover">
        <td>
          <strong><small><%= formatEventsDateRange(event.start_date, event.end_date) %></small></strong><br />
          <%= event.title %>
        </td>
        <td><%= event.address.city %>, <%= event.address.state.abbreviation %></td>
        <td><%= formatModifiedNameandDate(event.user.concat_name, event.updated_at) %></td>
        <td><%= render show_btn_path, show_path: admin_event_path(event) %></td>
        <td><%= render edit_btn_path, edit_path: edit_admin_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
