<%= render "templates/alerts/notice" %>

<div class="row vertical-align-middle">
	<div class="col-md-3">
		<%= render "templates/buttons/back-to-page", text: "Event", path: admin_events_path %>
	</div>
	<div class="col-md-9 align-right">
		<%= render "templates/admin-modified-by", content: @event %>
	</div>
</div>

<div class="row vertical-align-middle">
	<div class="col-md-10">
		<h1><%= @event.title %></h1>
	</div>
	<div class="col-md-2">
		<%= link_to edit_admin_event_path(@event), :class => "btn btn-warning btn-block", title: "Edit", 'data-toggle' => 'tooltip' do %> 
			<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
	</div>
</div>
<hr />

<div class="row">
	<div class="col-md-6 col-sm-12">
		<h3><%= formatEventsDateRange(@event.start_date, @event.end_date) %></h3>
		<p><%= @address.location_name %></p>
		<p><%= @address.city %>, <%= @address.state.name %></p><br />
		<%= simple_format(@event.description, wrapper_tag: "p", class: 'indent-paragraph') %>
	</div>
	<div class="col-md-6 col-sm-12">
		<%= render "templates/google_maps", location_name: @address.location_name, address: @address, height: 600, width: 650 %>
	</div>
</div>