<%= render "layouts/admin/show-header", back_text: "Event", back_path: admin_events_path, object: @event, edit_path: edit_admin_event_path(@event) %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<h3><%= formatEventsDateRange(@event.start_date, @event.end_date) %></h3>
		<p><%= @address.location_name %></p>
		<p><%= @address.city %>, <%= @address.state.name %></p><br />
		<%= simple_format(@event.description, wrapper_tag: "p", class: 'indent-paragraph') %>
	</div>
	<div class="col-md-6 col-sm-12">
		<%= render "templates/google_maps", location_name: @address.location_name, address: @address, height: 600, width: 650 %>
	</div>
</div>