<%= image_tag("logos/miyoga_crest.png", class: "miyoga_header_image", alt: "Miyoga Logo") %>
<h1 class='miyoga-heading-text'>Miyoga Kendo Club</h1>
<br />
<h2>Hello <%= @user.concat_name %>,</h2>
<p><%= @user.is_admin? ? "An admin" : "A user" %> account has been created for you. Please visit the following link to login and change your password.</p>
<p><%= link_to "Change Password", reset_password_url, target: :_blank %></p>
<p>Please enter the following token when visiting the link, <strong><%= @user.reset_password_token %></strong>. You will be prompted to create a new password upon login. </p>
<br />
<p>Thank you,</p>
<p>Miyoga Kendo</p>