<%= form_with(model: [:admin, social_medium], local: true, class: "form-horizontal", html: { autocomplete: "off" }) do |form| %>
  <%= render "templates/alerts/form-errors", model: social_medium %>

  <div class="row vertical-align-middle">
    <div class="col-md-1 col-xs-12 align-right"><%= form.label :site_name, 'Site Name:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.text_field :site_name, { class: "form-control" } %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-1 col-xs-12 align-right"><%= form.label :site_link, 'Site Link:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.text_field :site_link, { class: "form-control" } %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-1 col-xs-12 align-right"><%= form.label :image_link, 'Image Name:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.text_field :image_link, { class: "form-control" } %></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-xs-12 col-md-offset-4">
      <%= form.submit "Save Site", class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
