<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-page", text: "Social Media", path: admin_social_media_path %>
  </div>
</div>

<%= render "templates/heading", text: "Editing Social Medium", list_of_classes: "align-center" %>

<%= render "templates/alerts/admin-notice" %>
<%= render "templates/alerts/form-errors", model: @social_medium %>

<%= render 'form', social_medium: @social_medium %>
