<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/add-new", path: new_admin_social_medium_path, text: "Social Media Site" %>
  </div>
</div>

<%= render "templates/heading", text: "Social Media", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>

<table class="table table-responsive table-striped" id="social_media_table">
  <thead>
    <tr class="align-center">
      <th>Site</th>
      <th>Last Edited by</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @social_media.each do |social_media| %>
      <tr class="align-center">
        <td><%= link_to image_tag("logos/#{social_media.image_link}", alt: "#{social_media.site_name} Logo"), social_media.site_link, target: '_blank', class: "social_media_logo" %> <%= social_media.site_name %></td>
        <td><%= social_media.user.concat_name %></td>
        <td>
          <%= link_to edit_admin_social_medium_path(social_media), :class => "btn btn-warning btn-block", title: "Edit #{social_media.site_name}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
        </td>
        <td>
          <%= link_to [:admin, social_media], :class => "btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove #{social_media.site_name}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
