<%= render "templates/buttons/back-to-admin-home" %>

<h1 class="h1-heading">Social Media</h1>

<p id="notice"><%= notice %></p>

<table class="table table-responsive table-striped" id="social_media_table">
  <thead>
    <tr class="align-center">
      <th>Site</th>
      <th>Link</th>
      <th>Image</th>
      <th>Last Edited by</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @social_media.each do |social_media| %>
      <tr class="align-center">
        <td><%= social_media.site_name %></td>
        <td><%= link_to social_media.site_link, social_media.site_link, class: 'link-text', target: :_blank %></td>
        <td><%= social_media.image_link %></td>
        <td><%= social_media.user.concat_name %></td>
        <td>
          <%= link_to edit_admin_social_medium_path(social_media), :class => "btn btn-warning", title: "Edit #{social_media.site_name}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to [:admin, social_media], :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove #{social_media.site_name}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "templates/buttons/add-new", path: new_admin_social_medium_path, text: "Social Media Site" %>
