<p id="notice"><%= notice %></p>

<p>
  <strong>Site name:</strong>
  <%= @social_medium.site_name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @social_medium.link %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @social_medium.image_name %>
</p>

<%= link_to 'Edit', edit_social_medium_path(@social_medium) %> |
<%= link_to 'Back', social_media_path %>
