<%= render "templates/buttons/back-to-admin-home" %>

<%= render "templates/heading", text: @page.name + " Page", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" if notice %>

<% @contents.order_by_index.each_with_index do |content, index| %>
	<%= render "templates/alerts/form-errors", model: content %>

	<div class="row vertical-align-middle">
		<div class="col-md-10">
			<h1><u><%= content.index %></u>. <%= content.heading.html_safe %> *will <%=content.display_content_on_page ? " " : " NOT " %>be shown to users <%=content.display_content_on_page%>*</h1>
		</div>
		<div class="col-md-2">
			<%= button_tag :class => "btn btn-warning btn-block btn-lg", title: 'Edit', data: { toggle: 'modal', target: "#adminResourceEditModal-#{index}" } do %>
				<span class="glyphicon glyphicon-edit"></span> Edit
			<% end %>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12"><h2><%= content.subheading.blank? ? "*NO SUBHEADING CURRENTLY*" : content.subheading.html_safe %></h2></div>
		<hr />
	</div>
	<br />
	<div class="row">
		<div class="col-md-12"><p><%= content.description.blank? ? "*NO DESCRIPTION CURRENTLY*" : content.description.html_safe %></p></div>
		<hr />
	</div>
	<br />
	<div class="row">
		<% content.links.ordered.each do |link| %>
			<% if link.display_logo && !link.article %>
				<div class="col-md-3 col-sm-6">
					<p class="align-center"><strong><%= link.name %></strong></p>
					<div class="panel panel-default">
						<div class="panel-body">
							<%= link_to image_tag("logos/#{link.image_link}", class: "image-center", alt: link.name), link.link, class: "header-link-text", target: :_blank %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="col-md-12"><li><%= link_to 'Read more...', link.link, :class => "btn btn-info", target: :_blank %></li></div>
			<% end %>
		<% end %>
	</div>
	<hr /><br />
	<%= render "edit-resource-modal", content: content, index: index, content_dropdown_count: @contents.count+1, links_dropdown_count: content.links.count+1 %>
<% end %>
