<%= render heading_path, text: "My Profile" %>

<%= render notice_path %>

<%= render form_errors_path, model: current_user %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="text-center">Basic Information</h1>
				</div>
				<div class="panel-body">
					<%= render 'basic-user-attr-form' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="text-center">Change Password</h1>
				</div>
				<div class="panel-body">
					<%= render 'update-password-form' %>
				</div>
			</div>
		</div>
	</div>
</div>