<%= render "templates/heading", text: "My Profile", list_of_classes: "align-center" %>

<% if notice %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-1">
			<div class="alert alert-success alert-dismissable align-center" role="alert">
				<a href="#" class="close text-link" data-dismiss="alert" aria-label="close">X</a>
				<span id="notice"><%= raw(notice) %></span>
			</div>
		</div>
	</div>
<% end %>

<%= render "templates/alerts/form-errors", model: current_user %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="align-center">Basic Information</h1>
				</div>
				<div class="panel-body">
					<%= render 'basic-user-attr-form' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="align-center">Change Password</h1>
				</div>
				<div class="panel-body">
					<%= render 'password-form' %>
				</div>
			</div>
		</div>
	</div>
</div>