<div class="no-padding">
	<div class="container">
		<%= image_tag("home_page/#{@top_home_image.image_file_name}", class: "home_image", alt: @top_home_image.image_file_name) %>
		<div class="top-centered">
			<% if notice %>
				<div class="alert alert-success alert-dismissable text-center" role="alert">
					<a href="#" class="close text-link" data-dismiss="alert" aria-label="close">X</a>
					<span id="notice"><%= raw(notice) %></span>
				</div>
			<% end %>
		</div>
		<div class="bottom-centered landing-page-font">
			<h1 class='miyoga-heading-text'><%= @about_miyoga.heading %></h1>
			<%= simple_format(@about_miyoga.description.truncate_words(60), wrapper_tag: "p") %>
			<%= link_to "What's Kendo?", abouts_path, :class => "btn btn-blue btn-lg btn-bold-font" %>
			<%= link_to "Class Schedule", practices_path, :class => "btn btn-blue btn-lg btn-bold-font" %>
		</div>
	</div>
	<div class="container blue-back">
		<div class="middle-centered white-text landing-page-font no-link-text">
			<h1><%= link_to "Upcoming " + @upcoming_event.page.name, events_path, class: "" %></h1>
			<p><%= link_to @upcoming_event.title, events_path %></p>
			<p><%= link_to formatEventsDateRange(@upcoming_event.start_date, @upcoming_event.end_date), events_path %></p>
			<%= link_to simple_format(@upcoming_event.description.truncate_words(50), wrapper_tag: "p"), events_path %>
		</div>
	</div>
	<div class="container">
		<%= image_tag("home_page/#{@bottom_home_image.image_file_name}", class: "home_image", alt: @bottom_home_image.image_file_name) %>
	</div>
</div>