<div class="no-padding">
	<div class="container">
		<%= image_tag("home_page/#{@top_home_image.image_file_name}", class: "home_image", alt: @top_home_image.image_file_name) %>
		<div class="top-centered">
			<% if notice %>
				<div class="alert alert-success alert-dismissable text-center" role="alert">
					<a href="#" class="close text-link" data-dismiss="alert" aria-label="close">X</a>
					<span id="notice"><%= raw(notice) %></span>
				</div>
			<% end %>
		</div>
		<div class="bottom-centered">
			<h1 class='miyoga-heading-text'><%= @about_miyoga.heading %></h1>
			<%= simple_format(@about_miyoga.description.truncate_words(60), wrapper_tag: "p") %>
			<%= link_to "What's Kendo?", abouts_path, :class => "btn btn-info btn-lg" %>
			<%= link_to "Class Schedule", practices_path, :class => "btn btn-info btn-lg" %>
		</div>
	</div>
	<div class="container blue-back">
		<div class="middle-centered white-text">
			<h1 class='miyoga-heading-text'>Upcoming Events</h1>
			<p><%= @upcoming_event.title %></p>
			<p><%= formatEventsHomeDateRange(@upcoming_event.start_date, @upcoming_event.end_date) %></p>
			<%= simple_format(@upcoming_event.description.truncate_words(50), wrapper_tag: "p") %>
			<%= link_to events_path, :class => "btn btn-info btn-lg" do %>
				Read More <span class="glyphicon glyphicon-chevron-right"></span>
			<% end %>
		</div>
	</div>
	<div class="container">
		<%= image_tag("home_page/#{@bottom_home_image.image_file_name}", class: "home_image", alt: @bottom_home_image.image_file_name) %>
		<div class="very-bottom-centered">
			<h3>Contact Us:</h3>
			<h3><%= mail_to @miyoga_contact_email, @miyoga_contact_email, class: "link-text", style: "color: #000080" %></h3>
		</div>
	</div>
</div>