<div class="no-padding">
	<div class="container">
		<%= image_tag("home_page/group_practice_shot.jpg", class: "home_image", alt: "Group Shot") %>
		<div class="bottom-centered">
			<h1 class='miyoga-heading-text'><%= @about_miyoga.heading %></h1>
			<%= simple_format(@about_miyoga.description.truncate_words(60), wrapper_tag: "p") %>
			<%= link_to "What's Kendo", abouts_path, :class => "btn btn-info btn-lg" %>
			<%= link_to "Class Schedule", practices_path, :class => "btn btn-info btn-lg" %>
		</div>
	</div>
	<div class="container blue-back">
		<div class="middle-centered white-text">
			<h1 class='miyoga-heading-text'>Upcoming Events</h1>
			<p><%= @upcoming_event.title %></p>
			<p><%= formatEventsHomeDateRange(@upcoming_event.start_date, @upcoming_event.end_date) %></p>
			<%= simple_format(@upcoming_event.description.truncate_words(50), wrapper_tag: "p") %>
			<%= link_to "See More", events_path, :class => "btn btn-info btn-lg" %>
		</div>
	</div>
	<div class="container">
		<%= image_tag("home_page/group_post_practice.jpg", class: "home_image", alt: "Group Shot Post Practice") %>
		<div class="very-bottom-centered">
			<h3>Contact Us:</h3>
			<h3><%= mail_to @miyoga_user.email, @miyoga_user.email, class: "link-text", style: "color: #000080" %></h3>
		</div>
	</div>
</div>