<div class="modal fade" id="eventEditModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="eventModalLabel">Edit Event</h1>
			</div>
			<div class="modal-body">
				<%= render form_errors_path, model: event %>

				<%= form_with(model: event, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
					<%= render "form-fields", f: f %>
			</div>
			<div class="modal-footer">
				<%= render modal_cancel_save_btn_path, f: f, target: "#eventEditModal-#{index}" %>
			</div>
			<% end %>
		</div>
	</div>
</div>