<% if can? :manage, @new_event %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render "templates/buttons/crud/new-button-tag", target: "#eventAddModal", button_text: "Event" %>
		</div>
	</div>
	<%= render "add-modal", new_event: @new_event %>
	<%= render "templates/alerts/notice" %>
	<%= render "templates/alerts/form-errors", model: @new_event %>
<% end %>

<% @events.each_with_index do |event, index| %>
	<%= render "heading", event: event, index: index %>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<% @address = event.address %>
			<h3><%= formatEventsDateRange(event.start_date, event.end_date) %></h3>
			<p><%= @address.location_name %></p>
			<p><%= @address.city %>, <%= @address.state.name %></p>
			<br />
			<%= simple_format(event.description, wrapper_tag: "p", class: 'indent-paragraph') %>
		</div>
		<div class="col-md-6 col-sm-12">
			<%= render "templates/google_maps", location_name: @address.location_name, address: @address, height: 600, width: 650 %>
		</div>
	</div>
	<br /><hr /><br />
	<%= render "edit-modal", event: event, index: index %>
	<%= render "templates/modals/remove-record-dialog", record: event, index: index, heading: "Event" %>
<% end %>