<% if can? :manage, @new_event %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render new_btn_tag_path, target: "#eventAddModal", button_text: "Event" %>
		</div>
	</div>
	<%= render "add-modal", new_event: @new_event %>
	<%= render notice_path %>
	<%= render form_errors_path, model: @new_event %>
<% end %>
<% first_done = false %>
<% @events.each_with_index do |event, index| %>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<% @address = event.address %>
			<h4><%= formatDateRange(event.start_date, event.end_date) %></h4>
			<h1><strong><%= event.title %></strong></h1>
			<h3><small><%= @address.location_name %> | <%= @address.city %>, <%= @address.state.name %></small></h3>
			<hr />
			<div class="row">
				<div class="col-sm-12">
					<%= simple_format(event.description, wrapper_tag: "p", class: 'indent-paragraph') %>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<%= render google_maps_path, location_name: @address.location_name, address: @address, height: 500, width: "100%" %>
		</div>
	</div>
	<%= render "edit-modal", event: event, index: index %>
	<%= render remove_record_dialog, record: event, index: index, heading: "Event" %>
	<% unless first_done %>
		<br /><hr /><br />
	<% end %>
	<% first_done = true %>
<% end %>