<%= render "templates/alerts/notice" if notice && current_user.is_admin? %>

<% @events.each_with_index do |event, index| %>
	<%= render "heading", event: event, index: index %>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<% @address = event.address %>
			<h3><%= formatEventsDateRange(event.start_date, event.end_date) %></h3>
			<p><%= @address.location_name %></p>
			<p><%= @address.city %>, <%= @address.state.name %></p><br />
			<p><%= event.description.html_safe %></p>
		</div>
		<div class="col-md-6 col-sm-12">
			<%= render "templates/google_maps", location_name: event.address.location_name, address: event.address, height: 600, width: 650 %>
		</div>
	</div>
	<br /><hr /><br />
	<%= render "edit-modal", event: event, index: index %>
	<%= render "templates/modals/remove-record-dialog", record: event, index: index, heading: "Event" %>
<% end %>