<% if notice && current_user.is_admin? %>
	<div class="row">
		<div class="col-md-8 col-xs-1 col-md-offset-2">
			<%= render "templates/alerts/notice" %>
		</div>
	</div>
<% end %>

<% @events.each_with_index do |event, index| %>
	<% if current_user.is_not_admin? %>
		<div class="row padding-top-bottom">
			<div class="col-md-12"><h1 class="no-margin"><%=event.title%></h1></div>
		</div>
	<% else %>
		<div class="row padding-top-bottom">
			<div class="col-md-8"><h1 class="no-margin"><%=event.title%></h1></div>
			<div class="col-md-2">
				<%= button_tag :class => "btn btn-warning btn-block btn-lg", title: 'Edit', 'data-toggle' => 'tooltip', 'data-toggle' => 'modal', 'data-target' => '#aboutEditModal' do %>
					<span class="glyphicon glyphicon-edit"></span> Edit
				<% end %>
			</div>
			<div class="col-md-2">
				<%= button_tag :class => "btn btn-danger btn-block btn-lg", title: 'Remove', 'data-toggle' => 'tooltip', 'data-toggle' => 'modal', 'data-target' => "#youSureModal-#{index}" do %>
					<span class="glyphicon glyphicon-trash"></span> Remove
				<% end %>
			</div>
		</div>
	<% end %>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h2><%=formatEventsDateRange(event.start_date, event.end_date)%></h2>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6 col-sm-12"><p><%=event.description.html_safe%></p></div>
		<div class="col-md-6 col-sm-12"><%= render "templates/google_maps", location_name: event.address.contacts.first.name, address: event.address, height: 600, width: 650 %></div>
	</div>
	<br /><hr /><br />
	<%= render "edit-modal", event: event %>
	<%= render "templates/modals/remove-record-dialog", heading: "Event", index: index, record: event %>
<% end %>