<%= render "templates/alerts/notice" %>

<% if current_user.is_admin? %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= button_tag :class => "btn btn-info btn-block btn-lg", title: 'Add', data: { toggle: 'modal', target: "#eventAddModal" } do %>
				<span class="glyphicon glyphicon-plus"></span> Add New Event
			<% end %>
		</div>
	</div>
	<%= render "add-modal", new_event: @new_event %>
	<%= render "templates/alerts/form-errors", model: @new_event %>
<% end %>

<% @events.each_with_index do |event, index| %>
	<%= render "heading", event: event, index: index %>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<% @address = event.address %>
			<h3><%= formatEventsDateRange(event.start_date, event.end_date) %></h3>
			<p><%= @address.location_name %></p>
			<p><%= @address.city %>, <%= @address.state.name %></p><br />
			<p><%= event.description.html_safe %></p>
		</div>
		<div class="col-md-6 col-sm-12">
			<%= render "templates/google_maps", location_name: event.address.location_name, address: event.address, height: 600, width: 650 %>
		</div>
	</div>
	<br /><hr /><br />
	<%= render "edit-modal", event: event, index: index %>
	<%= render "templates/modals/remove-record-dialog", record: event, index: index, heading: "Event" %>
<% end %>