<%= form_with(model: [:admin, resource], url: path, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
	<div class="row vertical-align-middle">
		<div class="col-xs-2 align-right"><%= f.label :heading, 'Heading:' %></div>
		<div class="col-xs-9"><%= f.text_field :heading, { class: 'form-control' } %></div>
	</div>
	<br />
	<div class="row vertical-align-middle">
		<div class="col-xs-2 align-right"><%= f.label :subheading, 'SubHeading:' %></div>
		<div class="col-xs-9"><%= f.text_field :subheading, { class: 'form-control' } %></div>
	</div>
	<br />
	<div class="row vertical-align-middle">
		<div class="col-xs-2 align-right"><%= f.label :description, 'Description:' %></div>
		<div class="col-xs-9"><%= f.cktext_area :description, { class: 'form-control', language: "us", rows: 25 } %></div>
	</div>
	<br />
	<div class="row vertical-align-middle">
		<div class="col-xs-3 align-right"><%= f.label :index, 'Content Order:' %></div>
		<div class="col-xs-2"><%= f.select :index, (1..10), {}, { class: 'form-control' } %></div>
		<% if not resource.new_record? %>
			<div class="col-xs-3 align-right"><%= f.label :display_content_on_page, 'Remove Content:' %></div>
			<div class="col-xs-2"><%= f.check_box :display_content_on_page, { class: 'form-control', :checked => !resource.display_content_on_page }, 0, 1 %></div>
		<% end %>
	</div>
	<br />

	<%= render "templates/heading", text: "Editing Link(s)", list_of_classes: "align-center" %>
	<%= f.fields_for :links do |link| %>
		<div class="row vertical-align-middle">
			<div class="col-xs-2 align-right"><%= link.label :name, 'Name:' %></div>
			<div class="col-xs-3"><%= link.text_field :name, { class: 'form-control' } %></div>
			<div class="col-xs-2 align-right"><%= link.label :index, 'Index:' %></div>
			<div class="col-xs-1"><%= link.select :index, (1..10), {}, { class: 'form-control' } %></div>
			<% if not resource.new_record? %>
				<div class="col-xs-2 align-right"><%= link.label :destroy, 'Remove Link:' %></div>
				<div class="col-xs-1"><%= link.check_box '_destroy', { class: 'form-control' } %></div>
			<% end %>
		</div>
		<br />
		<div class="row vertical-align-middle">
			<div class="col-xs-2 align-right"><%= link.label :link, 'Link:' %></div>
			<div class="col-xs-9"><%= link.text_field :link, { class: 'form-control' } %></div>
		</div>
		<br />
		<%= link.fields_for :image do |image| %>
			<div class="row vertical-align-middle">
				<div class="col-xs-3 align-right"><%= image.label 'Current Image:' %></div>
				<div class="col-xs-2"><%= image.object.image_file_name %></div>
				<div class="col-xs-3 align-right"><%= image.label :link, 'Replace Current Image:' %></div>
				<div class="col-xs-3"><%= image.file_field :image, class: 'form-control' %></div>
			</div>
		<% end %>
		<hr />
		<br />
	<% end %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= f.submit "Save Changes", class: "btn btn-success btn-block" %>
		</div>
	</div>
<% end %>