<table class="table table-responsive table-striped">
	<thead>
		<tr class="align-center">
			<th>Heading</th>
			<th>Subheading</th>
			<th>Description</th>
			<th>Link(s) to</th>
			<th colspan="2">Last Modified</th>
			<th colspan="2" ></th>
		</tr>
	</thead>
	<tbody>
		<% contents.each do |content| %>
			<tr class="align-center table-hover">
				<td><%= content.heading.truncate_words(5) %></td>
				<td><%= nil_check(content.subheading).truncate_words(5) %></td>
				<td><%= description_nil_check(content.description).truncate_words(5) %></td>
				<td><%= content.links.map{ |l| l.name }.join(", ") %></td>
				<td><%= content.user.concat_name %></td>
				<td><%= formateDateTimeWithAt(content.updated_at) %></td>
				<td><%= link_to "Show", admin_resource_path(content), :class => "btn btn-success btn-block" %></td>
				<td>
					<%= link_to edit_admin_resource_path(content), :class => "btn btn-warning btn-block" do %> 
						<span class="glyphicon glyphicon-edit"></span> Edit
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>