<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-page", text: "Resource", path: admin_resources_path(@resource) %>
  </div>
</div>

<%= render "templates/heading", text: "Editing Resource", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>
<%= render "templates/alerts/form-errors", model: @resource %>

<%= render "form", resource: @resource %>
