<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/add-new", path: new_admin_resource_path, text: "Content" %>
  </div>
</div>

<%= render "templates/heading", text: @current_page.name + " Page", list_of_classes: "align-center" %>
<%= render "templates/alerts/notice" %>


<ul class="nav nav-tabs nav-justified text-link tab-text">
	<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
	<li><a data-toggle="tab" href="#readings">Readings</a></li>
</ul>

<div class="tab-content">
    <div id="resources" class="tab-pane fade in active">
		<%= render "table", contents: @active_resources %>
	</div>
	<div id="readings" class="tab-pane fade">
		<%= render "table", contents: @active_readings %>
	</div>
</div>
