<%= render "layouts/admin/show-header", back_text: "Resources", back_path: admin_resources_path, object: @resource, edit_path: edit_admin_resource_path(@resource) %>

<% if tf_check(@resource.subheading) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= @resource.subheading %></h2>
		</div>
	</div>
<% end %>

<% if not @resource.article %>
	<% if not tf_check(@resource.description) %>
		<div class="row">
			<div class="col-md-12">
				<%= simple_format(@resource.description, wrapper_tag: "p") %>
			</div>
		</div>
		<br /><br />
	<% end %>
<% end %>

<% @resource.links.includes(:user).each do |link| %>
	<% if link.article %>
		<%= render "article-show", resource: @resource, link: link %>
	<% else %>
		<%= render "links-show", resource: @resource, link: link %>
	<% end %>
<% end %>
