<%= render "templates/alerts/notice" %>

<div class="row">
	<div class="col-md-3">
		<%= render "templates/buttons/back-to-page", text: "Resources", path: admin_resources_path %>
	</div>
	<div class="col-md-9 align-right">
		<%= render "templates/admin-modified-by", content: @resource %>
	</div>
</div>

<div class="row vertical-align-middle">
	<div class="col-md-10">
		<h1><%= @resource.heading %></h1>
	</div>
	<div class="col-md-2">
		<%= link_to edit_admin_resource_path(@resource), :class => "btn btn-warning btn-block", title: "Edit", 'data-toggle' => 'tooltip' do %> 
			<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
	</div>
</div>
<hr />

<% if tf_check(@resource.subheading) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= @resource.subheading %></h2>
		</div>
	</div>
<% end %>

<% if not @resource.article %>
	<% if not tf_check(@resource.description) %>
		<div class="row">
			<div class="col-md-12">
				<%= simple_format(@resource.description, wrapper_tag: "p") %>
			</div>
		</div>
		<br /><br />
	<% end %>
<% end %>

<% @resource.links.includes(:images).each do |link| %>
	<% if link.article %>
		<%= render "article-show", resource: @resource, link: link %>
	<% else %>
		<%= render "links-show", resource: @resource, link: link %>
	<% end %>
<% end %>
