<div class="modal fade" id="youSureModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="youSureModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="youSureModalLabel">Remove <%=heading%>?</h1>
			</div>
			<div class="modal-body">
				<h2 class="text-center">Are you sure?</h2>
			</div>
			<div class="modal-footer">
				<%= render modal_cancel_btn_path, target: "#youSureModal-#{index}" %>
				<%= link_to record, :class => "btn btn-success", method: :delete, title: 'Remove', 'data-toggle' => 'tooltip' do %><span class="<%= save_btn_glyph%>"></span> Yes<% end %>

			</div>
		</div>
	</div>
</div>