<div class="row vertical-align-middle">
	<div class="col-md-2 col-xs-12 text-right"><%= form.label :heading, 'Heading:' %></div>
	<div class="col-md-9 col-xs-12"><%= form.text_field :heading, { class: 'form-control' } %></div>
</div>
<br />
<div class="row vertical-align-middle">
	<div class="col-md-2 col-xs-12 text-right"><%= form.label :Description, 'Description:' %></div>
	<div class="col-md-9 col-xs-12"><%= form.cktext_area :description, { class: 'form-control', language: "us" } %></div>
</div>
<br />
<div class="row vertical-align-middle">
	<div class="col-md-2 col-xs-12 text-right"><%= form.label :link, 'Link:' %></div>
	<div class="col-md-9 col-xs-12"><%= form.text_field :link, { class: "form-control" } %></div>
</div>
<br />
<div id='images'>
	<%= form.fields_for :images do |image| %>
		<%= render 'templates/nested-forms/image_fields', :f => image %>
	<% end %>
	<div class="row">
		<div class="col-xs-4 col-sm-offset-4">
			<%= render "templates/nested-forms/new-image-button", form: form %>
		</div>
	</div>
</div>
<br />
<hr />
<div id='files'>
	<%= form.fields_for :file_uploads do |file| %>
		<%= render 'templates/nested-forms/file_upload_fields', :f => file %>
	<% end %>
	<div class="row">
		<div class="col-xs-4 col-sm-offset-4">
			<%= render 'templates/nested-forms/new-file-button', :form => form %>
		</div>
	</div>
</div>
<br />
<div class="row vertical-align-middle">
	<% if form.object.pinned || @num_pinned_news %>
		<div class="col-md-2 col-xs-12 text-right"><%= form.label :pinned, 'Pin Post:' %></div>
		<div class="col-md-1 col-xs-12"><%= form.check_box :pinned, { class: 'form-control' } %></div>
	<% end %>
	<div class="col-md-2 col-xs-12 text-right"><%= form.label :archived, 'Archive Post:' %></div>
	<div class="col-md-1 col-xs-12"><%= form.check_box :archived, { class: 'form-control' } %></div>
</div>