<div class="row text-center">
	<div class="col-xs-8 col-xs-offset-1">
		<%= form.label :heading, 'Heading:' %>
		<%= form.text_field :heading, { class: 'form-control' } %>
	</div>
	<% if form.object.pinned || @num_pinned_news %>
		<div class="col-xs-2">
			<%= form.label :pinned, 'Pin Post:' %>
			<%= form.check_box :pinned, { class: 'form-control' } %>
		</div>
<% end %>
</div>
<br />
<div class="row text-center">
	<div class="col-xs-10 col-xs-offset-1">
		<%= tinymce %>
		<%= form.label :Description, 'Description:' %>
		<%= form.text_area :description, { class: 'form-control tinymce' } %>
	</div>
</div>
<br />
<div class="row text-center">
	<div class="col-md-7 col-xs-12 col-md-offset-1">
		<%= form.label :link, 'Link:' %>
		<%= form.text_field :link, { class: "form-control" } %>
	</div>
	<div class="col-md-3 col-xs-12">
		<%= form.label :archived, 'Archive Post:' %>
		<%= form.check_box :archived, { class: 'form-control' } %>
	</div>
</div>
<br />
<div id='images'>
	<%= form.fields_for :images do |image| %>
		<%= render 'templates/nested-forms/image_fields', :f => image %>
	<% end %>
	<div class="row">
		<div class="col-xs-4 col-sm-offset-4">
			<%= render "templates/nested-forms/new-image-button", form: form %>
		</div>
	</div>
</div>
<br />
<hr />
<div id='files'>
	<%= form.fields_for :file_uploads do |file| %>
		<%= render 'templates/nested-forms/file_upload_fields', :f => file %>
	<% end %>
	<div class="row">
		<div class="col-xs-4 col-sm-offset-4">
			<%= render 'templates/nested-forms/new-file-button', :form => form %>
		</div>
	</div>
</div>