<% if f.object.new_record? %>
	<div class="row vertical-align-middle">
		<div class="col-xs-2 align-right"><%= f.label :image, 'New Image:' %></div>
		<div class="col-xs-9"><%= f.file_field :image, class: 'form-control' %></div>
	</div>
	<br />
<% else %>
	<div class="row vertical-align-middle nested-fields">
		<div class="col-xs-1">
			<%= link_to_remove_association f, :class => "btn btn-danger", data: { confirm: 'Are you sure?' }, title: 'Remove', 'data-toggle' => 'tooltip' do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</div>
		<div class="col-xs-1 align-right"><strong>Image <%=f.index+1%>:</strong></div>
		<div class="col-xs-3"><%= image_tag(f.object.image.url, class: "small-form-image", alt: f.object.image_file_name) if not f.object.image_file_name.nil? %></div>
	</div>
	<hr />
<% end %>