<table class="table table-responsive table-striped">
  <thead>
    <tr class="text-center">
      <th>Title</th>
      <th>Modified by</th>
      <th>Created On</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% news.each do |announcement| %>
      <tr class="text-center table-hover">
        <td><%= raw("<span class='glyphicon glyphicon-pushpin'></span>") if announcement.pinned %>
          <%= announcement.heading %>
        </td>
        <td><%= announcement.user.concat_name %></td>
        <td><%= formateDateTimeWithAt(announcement.created_at) %></td>
        <td><%= formateDateTimeWithAt(announcement.updated_at) %></td>
        <td><%= render "templates/buttons/crud/show", show_path: admin_announcement_path(announcement) %></td>
        <td><%= render "templates/buttons/crud/edit", edit_path: edit_admin_announcement_path(announcement) %></td>
        <td><%= render "templates/buttons/crud/remove", remove_model: [:admin, announcement] %></td>
      </tr>
    <% end %>
  </tbody>
</table>