<table class="table table-responsive table-striped">
  <thead>
    <tr class="align-center">
      <th>Title</th>
      <th>Modified by</th>
      <th>Created On</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% news.each do |announcement| %>
      <tr class="align-center table-hover">
        <td><%= raw("<span class='glyphicon glyphicon-star yellow'></span>") if announcement.pinned %>
          <%= announcement.heading %>
        </td>
        <td><%= announcement.user.concat_name %></td>
        <td><%= formatDate(announcement.created_at) %></td>
        <td><%= link_to "Show", admin_announcement_path(announcement), :class => "btn btn-success btn-block" %></td>
        <td>
          <%= link_to edit_admin_announcement_path(announcement), :class => "btn btn-warning btn-block", title: "Edit", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
        </td>
        <td>
          <%= link_to [:admin, announcement], :class => "btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove News", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>