<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/add-new", path: new_admin_announcement_path, text: "News Item" %>
  </div>
</div>

<%= render "templates/heading", text: @current_page.name + " Page", list_of_classes: "align-center" %>

<%= render "templates/alerts/admin-notice" %>
		
<%= render "table", news: @news %>