<div class="row">
  <div class="col-md-3">
    <%= render back_to_page_path, text: "News", path: admin_announcements_path(@announcement) %>
  </div>
</div>

<%= render heading_path, text: "Add New News Item" %>

<%= render notice_path %>
<%= render form_errors_path, model: @announcement %>

<%= render "form", form: @announcement %>
