<div class="row paragraph-indentation">
	<% @content.each do |content| %>
		<div class="col-md-12">
			<h1 class="align-center"><%= content.heading %></h1>
			<hr />
		</div>
	<% end %>
</div>

<div class="row paragraph-indentation">
	<div class="col-md-12">
		<% @practices.each_with_index do |practice, index| %>
			<p class="align-center"><%= practice.day_of_week %> | <%= practice.start_time.strftime("%l:%M%P") %> - <%= practice.end_time.strftime("%l:%M%P") %></p>
			<p class="align-center"><%= @practice_count==index ? "" : "&" %></p>
		<% end %>
		<br /><br />
		<p class="align-center"><%=@practice_cost%></p>
	</div>
</div>
<br />
<div class="row paragraph-indentation">
	<div class="col-md-10 col-md-offset-1">
		<table style="width:100%;">
			<tr>
				<td rowspan="2">
					<%= embed_google_maps(address: "Japanese Culture Center 1016 W. Belmont Ave Chicago IL 60657", height: 600, width: 600).html_safe %>	
				</td>
				<td class="jcc-images"><%= image_tag("practices_page/outside_jcc.jpg", alt: "JCC") %></td>
			</tr>
			<tr>
				<td class="jcc-images"><%= image_tag("practices_page/second_floor_jcc.jpg", alt: "Second Floor of JCC") %></td>
			</tr>
		</table>
		
	</div>
</div>

<br /><br /><br />

<div class="row paragraph-indentation">
	<div class="col-md-6 col-md-offset-3">
		<p class="align-center">Contact Us:</p>
		<p class="align-center"><%= mail_to @miyoga_user.email, @miyoga_user.email, class: "link-text" %></p>
		<br />
		<p class="align-center">To Learn more information about the Japanese Culture Center:</p>
		<p class="align-center"><%= link_to "https://japaneseculturecenter.com/", "https://japaneseculturecenter.com/", class: "link-text", target: :_blank %></p>
	</div>
</div>
