<% if can? :manage, @new_practice %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render "templates/buttons/crud/new-button-tag", target: "#practiceAddModal", button_text: "Class" %>
		</div>
	</div>
	<%= render "add-modal", new_practice: @new_practice %>
	<%= render "templates/alerts/notice" %>
	<%= render "templates/alerts/form-errors", model: @new_practice %>
<% end %>

<%= render "templates/heading", text: @content.heading, list_of_classes: "align-center" %>

<% @practices.each_with_index do |practice, index| %>
	<%= render "edit-modal", practice: practice, index: index %>
	<%= render "templates/modals/remove-record-dialog", record: practice, index: index, heading: "Class" %>
	<div class='row vertical-align-middle'>
		<div class="col-md-4 col-md-offset-4">
			<p class="align-center"><%= practice.day_of_week %> | <%= formatPracticeTime(practice.start_time, practice.end_time) %></p>
		</div>
		<% if can? :manage, practice %>
			<div class="col-md-2">
				<%= render "templates/buttons/crud/edit-button-tag", target: "#practiceEditModal-#{index}" %>
			</div>
			<div class="col-md-2">
				<%= render "templates/buttons/crud/remove-button-tag", target: "#youSureModal-#{index}" %>
			</div>
		<% end %>
	</div>
	<br /><br />
<% end %>

<br /><br />
<p class="align-center"><%=@practice_cost%></p>
<br />

<div class="row paragraph-indentation">
	<div class="col-md-10 col-md-offset-1">
		<table style="width:100%;">
			<tr>
				<td rowspan="2"><%= embed_google_maps(address: "Japanese Culture Center 1016 W. Belmont Ave Chicago IL 60657", height: 600, width: 600).html_safe %></td>
				<td class="jcc-images"><%= image_tag("practices_page/outside_jcc.jpg", alt: "JCC") %></td>
			</tr>
			<tr><td class="jcc-images"><%= image_tag("practices_page/second_floor_jcc.jpg", alt: "Second Floor of JCC") %></td></tr>
		</table>
	</div>
</div>

<br /><br /><br />

<div class="row paragraph-indentation">
	<div class="col-md-6 col-md-offset-3">
		<p class="align-center">Contact Us:</p>
		<p class="align-center"><%= mail_to @miyoga_user.email, @miyoga_user.email, class: "link-text" %></p>
		<br />
		<p class="align-center">To Learn more information about the Japanese Culture Center:</p>
		<p class="align-center"><%= link_to "https://japaneseculturecenter.com/", "https://japaneseculturecenter.com/", class: "link-text", target: :_blank %></p>
	</div>
</div>
