<% if can? :manage, @new_practice %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render new_btn_tag_path, target: "#practiceAddModal", button_text: "Class" %>
		</div>
	</div>
	<%= render "add-modal", new_practice: @new_practice %>
	<%= render notice_path %>
	<%= render form_errors_path, model: @new_practice %>
<% end %>

<%= render heading_path, text: @content.heading %>

<div class="row">
	<div class="col-md-4 col-sm-12 col-md-offset-1 my-auto">
		<%= embed_google_maps(address: @dojo_address.google_maps_address).html_safe %>
	</div>
	<div class="col-md-7 col-sm-12 my-auto text-center">
		<% @practices.each_with_index do |practice, index| %>
			<div class="row">
				<div class="col-md-12">
					<% if can? :manage, practice %>
						<%= render "edit-modal", practice: practice, index: index %>
						<%= render remove_record_dialog, record: practice, index: index, heading: "Class" %>
						<div class="row">
							<div class="col-md-2 col-md-offset-4"><%= render edit_btn_tag_path, target: "#practiceEditModal-#{index}" %></div>
							<div class="col-md-2"><%= render remove_btn_tag_path, target: "#youSureModal-#{index}" %></div>
						</div>
						<br />
					<% end %>
					<p><%= practice.day_of_week %> | <%= formatPracticeTime(practice.start_time, practice.end_time) %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center"><p><%= practice.notes %></p></div>
			</div>
			<br />
		<% end %>
		<div class="row">
			<div class="col-md-12">
				<p class=""><%="$" + @practices.first.cost_per_month + " per month "%></p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<p>Contact Us:</p>
				<p><%= mail_to @miyoga_user.email, @miyoga_user.email, class: "link-text" %></p>
				<br />
				<p>To learn more information about the <%= @dojo_address.location_name %>:</p>
				<p><%= link_to @dojo_address.notes, @dojo_address.notes, class: "link-text", target: :_blank %></p>
			</div>
		</div>
	</div>
</div>
<br />

<% @dojo_images.in_groups_of(2, false) do |images| %>
	<div class="row">
		<div class="col-md-1"></div>
		<% images.each do |image| %>
			<div class="col-md-5 col-sm-12 jcc-images">
				<%= image_tag("practices_page/" + image.image_file_name, alt: image.image_file_name ) %>
			</div>
		<% end %>
	</div>
<% end %>
<br />
<div class="row">
	
</div>
