<div class="modal fade" id="aboutAddModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="aboutAddModal">Add Content</h1>
			</div>
			<div class="modal-body">
				<%= form_with(model: new_content, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off", multipart: true }) do |f| %>
					<div class="row text-center">
						<div class="col-xs-3">
							<%= f.label :index, 'Content Order:' %>
							<%= f.select :index, Content.populate_new_index_dropdown(@current_page), {}, { class: 'form-control' } %>
						</div>
						<% if not new_content.new_record? %>
							<div class="col-xs-3">
								<%= f.label :display_content_on_page, 'Display Content:' %>
								<%= f.check_box :display_content_on_page, { class: 'form-control' } %>
							</div>
						<% end %>
					</div>
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :heading, 'Heading:' %>
							<%= f.text_field :heading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :subheading, 'SubHeading:' %>
							<%= f.text_field :subheading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :description, 'Description:' %>
							<%= f.text_area :description, { class: 'form-control', rows: 15 } %>
						</div>
					</div>
					<br />
					<div id='images'>
						<%= f.fields_for :images do |image| %>
							<%= render 'templates/nested-forms/image_fields', :f => image %>
						<% end %>
						<div class="row">
							<div class="col-xs-4 col-sm-offset-4">
								<%= render "templates/nested-forms/new-image-button", form: f %>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<%= render modal_cancel_save_btn_path, f: f, target: "#aboutAddModal" %>
			</div>
			<% end %>
		</div>
	</div>
</div>