<% if current_user.is_admin? %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= button_tag :class => "btn btn-info btn-block btn-lg", title: 'Add', data: { toggle: 'modal', target: "#aboutAddModal" } do %>
				<span class="glyphicon glyphicon-plus"></span> Add New Content
			<% end %>
		</div>
	</div>
	<%= render "add-modal", new_content: @new_content %>
	<%= render "templates/alerts/form-errors", model: @new_content %>
	<%= render "templates/alerts/notice" %>
<% end %>


<% @content.each_with_index do |content, index| %>
	<% if not current_user.is_admin? %>
		<div class="row">
			<div class="col-md-12"><h1><%=content.heading%></h1></div>
		</div>
	<% else %>
		<div class="row vertical-align-middle">
			<div class="col-md-10"><h1><%=content.heading%></h1></div>
			<div class="col-md-2">
				<%= button_tag :class => "btn btn-warning btn-block btn-lg", title: 'Edit', data: { toggle: 'modal', target: "#aboutEditModal-#{index}" } do %>
					<span class="glyphicon glyphicon-edit"></span> Edit
				<% end %>
			</div>
		</div>
		<%= render "edit-modal", content: content, index: index %>
	<% end %>
	<hr />
	<% if not content.subheading.blank? %>
		<div class="row">
			<div class="col-md-12">
				<h2><%= content.subheading.html_safe %></h2>
			</div>
		</div>
	<% end %>
	<div class="paragraph-container">
		<div class="row">
			<div class="text-image-column">
				<p class="indent-paragraph"><%=content.description.html_safe%></p>
			</div>
			<div class="text-image-column">
				<%= image_tag("about_page/old_kendo_postcard.jpg", class: "text-image", alt: "Old Kendo Image") %>
			</div>
		</div>
	</div>
	<br />
<% end %>

<%#= image_tag("about_page/kendo_strike.jpg", class: "text-image", alt: "Kendo Strike") %>
<%#= image_tag("about_page/sensei.jpg", class: "text-image", alt: "Old Kendo Image") %>
