<div class="modal fade" id="resourceAddModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="resourceAddModal">Add Content</h1>
			</div>
			<div class="modal-body">
				<%= form_with(model: new_content, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off", multipart: true }) do |f| %>
					<div class="row text-center">
						<div class="col-xs-3">
							<%= f.label :index, 'Content Order:' %>
							<%= f.select :index, Content.populate_new_index_dropdown(@current_page), {}, { class: 'form-control' } %>
						</div>
						<% if not new_content.new_record? %>
							<div class="col-xs-3 col-xs-offset-6">
								<%= f.label :display_content_on_page, 'Display Content:' %>
								<%= f.check_box :display_content_on_page, { class: 'form-control' } %>
							</div>
						<% end %>
					</div>
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :heading, 'Heading:' %>
							<%= f.text_field :heading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :subheading, 'SubHeading:' %>
							<%= f.text_field :subheading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :description, 'Description:' %>
							<%= f.cktext_area :description, { class: 'form-control', language: "us", rows: 25 } %>
						</div>
					</div>
					<br />
					<%= f.fields_for :images do |image| %>
						<div class="row text-center">
							<div class="col-xs-2">
								<%= image.label :image, 'Image:' %>
								<%= image.file_field :image, { class: 'form-control' } %>
							</div>
						</div>
					<% end %>
					<h1 class="text-center">Add Link(s)</h1>
		          	<hr />
		          	<div id='links'>
						<%= f.fields_for :links do |link| %>
							<%= render 'templates/nested-forms/link_fields', :f => link %>
						<% end %>
						<div class="row">
							<div class="col-xs-4 col-sm-offset-4">
								<%= render "templates/nested-forms/new-link-button", form: f %>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<%= submit_tag 'Cancel', :type => 'button', class: "btn btn-danger", data: { toggle: 'modal', 'target': "#resourceAddModal" } %>
				<%= f.submit "Save Changes", class: 'btn btn-success' %>
			</div>
			<% end %>
		</div>
	</div>
</div>