<div class="modal fade" id="resourcesEditModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="resoucesModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="resoucesModalLabel">Edit Content</h1>
			</div>
			<div class="modal-body">
				<%= render "templates/alerts/form-errors", model: content %>

				<%= form_with(model: content, url: content_path(content), method: "patch", local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
					<div class="row vertical-align-middle">
						<div class="col-xs-2 align-right"><%= f.label :heading, 'Heading:' %></div>
		          		<div class="col-xs-9"><%= f.text_field :heading, { class: 'form-control' } %></div>
		          	</div>
		          	<br />
		          	<div class="row vertical-align-middle">
						<div class="col-xs-2 align-right"><%= f.label :subheading, 'SubHeading:' %></div>
		          		<div class="col-xs-9"><%= f.text_field :subheading, { class: 'form-control' } %></div>
		          	</div>
		          	<br />
		          	<div class="row vertical-align-middle">
						<div class="col-xs-2"><%= f.label :description, 'Description:' %></div>
		          		<div class="col-xs-9"><%= f.cktext_area :description, { class: 'form-control', language: "us", rows: 25 } %></div>
		          	</div>
		          	<br />
		          	<div class="row vertical-align-middle">
						<div class="col-xs-3"><%= f.label :index, 'Content Order:' %></div>
		          		<div class="col-xs-2"><%= f.select :index, (1..content_end_count), {}, { class: 'form-control' } %></div>
						<div class="col-xs-3"><%= f.label :display_content_on_page, 'Display Content:' %></div>
		          		<div class="col-xs-2"><%= f.check_box :display_content_on_page, { class: 'form-control' } %></div>
		          	</div>
		          	<h1>Edit Links</h1>
		          	<hr />
					<%= f.fields_for :links do |link| %>
			          	<div class="row vertical-align-middle">
							<div class="col-xs-2 align-right"><%= link.label :name, 'Name:' %></div>
			          		<div class="col-xs-9"><%= link.text_field :name, { class: 'form-control' } %></div>
			          	</div>
			          	<br />
			          	<div class="row vertical-align-middle">
							<div class="col-xs-2 align-right"><%= link.label :link, 'Link:' %></div>
			          		<div class="col-xs-9"><%= link.text_field :link, { class: 'form-control' } %></div>
			          	</div>
			          	<br />
			          	<%= link.fields_for :image do |image| %>
							<div class="row vertical-align-middle">
								<div class="col-xs-2 align-right"><%= image.label :image, 'New Image:' %></div>
								<div class="col-xs-9"><%= image.file_field :image, { class: 'form-control' } %></div>
							</div>
						<% end %>
						<br />
			          	<div class="row vertical-align-middle">
			          		<div class="col-xs-3 align-right"><%= link.label :index, 'Index:' %></div>
			          		<div class="col-xs-2"><%= link.select :index, (1..link_end_count), {}, { class: 'form-control' } %></div>
			          		<div class="col-xs-3 align-right"><%= link.label :destroy, 'Remove Link:' %></div>
			          		<div class="col-xs-2"><%= link.check_box '_destroy', { class: 'form-control' } %></div>
						</div>
						<hr />
						<br />
		          	<% end %>
			</div>
			<div class="modal-footer">
					<%= submit_tag 'Cancel', :type => 'button', class: "btn btn-danger", data: { toggle: 'modal', 'target': "#resourcesEditModal-#{index}" } %>
					<%= f.submit "Save Changes", class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
</div>