<div class="modal fade" id="resourcesEditModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="resoucesModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="resoucesModalLabel">Edit Content</h1>
			</div>
			<div class="modal-body">
				<%= render form_errors_path, model: content %>

				<%= form_with(model: content, url: content_path(content), method: "patch", local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
					<div class="row text-center">
						<div class="col-xs-3">
							<%= f.label :index, 'Content Order:' %>
							<%= f.select :index, Content.populate_edit_index_dropdown(content), {}, { class: 'form-control' } %>
						</div>
						<div class="col-xs-3 col-xs-offset-6">
							<%= f.label :archived, 'Archive?' %>
							<%= f.check_box :archived, { class: 'form-control' } %>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :heading, 'Heading:' %>
							<%= f.text_field :heading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= f.label :subheading, 'SubHeading:' %>
							<%= f.text_field :subheading, { class: 'form-control' } %>
						</div>
					</div>
					<br />
					<div class="row text-center">
						<div class="col-xs-12">
							<%= tinymce %>
							<%= f.label :description, 'Description:' %>
							<%= f.text_area :description, { class: 'form-control tinymce', rows: 15 } %>
						</div>
					</div>
					<br />
		          	<h1 class="text-center">Edit Link(s)</h1>
		          	<hr />
		          	<div id='links'>
						<%= f.fields_for :links do |link| %>
							<%= render 'templates/nested-forms/link_fields', :f => link %>
						<% end %>
						<div class="row">
							<div class="col-xs-4 col-sm-offset-4">
								<%= render "templates/nested-forms/new-link-button", form: f %>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
					<%= f.hidden_field :article, :value => content.check_links_articles %>
					<%= render modal_cancel_save_btn_path, f: f, target: "#resourcesEditModal-#{index}" %>
				<% end %>
			</div>
		</div>
	</div>
</div>