<% if can? :manage, object %>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-xs-6 col-xs-offset-3">
			<%= render new_btn_tag_path, target: target, button_text: button_text %>
		</div>
	</div>
	<%= render "add-modal", new_content: object %>
	<%= render notice_path %>
	<%= render form_errors_path, model: object %>
<% end %>

<%= render heading_path, text: @current_page.name %>