<%= render "heading", target: "#resourceAddModal", button_text: "Resource", object: @new_resource, heading_text: @current_page.name %>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<div class="row">
			<% @resources.each_with_index do |content, index| %>
				<% add_id = "#resourcesAddModal-#{index}" %>
				<% if not current_user.is_admin? %>
					<div class="row">
						<div class="col-md-12">
							<h2><%= content.heading %></h2>
						</div>
					</div>
				<% else %>
					<div class="row vertical-align-middle">
						<div class="col-md-10">
							<h2><%= content.heading %></h2>
						</div>
						<div class="col-md-2">
							<%= render "templates/buttons/crud/edit-button-tag", target: "#resourcesEditModal-#{content.id}" %>
						</div>
					</div>
					<%= render "edit-modal", content: content, index: content.id, link_end_count: content.links.count+1 %>
				<% end %>
				<% if not content.subheading.blank? %>
					<div class="row">
						<div class="col-md-12">
							<h4><%= content.subheading %></h4>
						</div>
					</div>
				<% end %>
				<% if not content.description.blank? %>
					<div class="row">
						<div class="col-md-12">
							<%= simple_format(content.description, wrapper_tag: "p", class: 'indent-paragraph') %>
						</div>
					</div>
				<% end %>
				<div class="row">
					<% content.links.each do |link| %>
						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default">
								<div class="panel-body"><%= link_to image_tag("logos/#{link.image_file_name}", class: "image-center", alt: link.image_file_name), link.link, class: "header-link-text", target: :_blank %></div>
							</div>
						</div>
					<% end %>
				</div>
				<br />
			<% end %>
		</div>
	</div>
</div>

<%= render "heading", target: "#resourceAddModal", button_text: "Article", object: @new_resource, heading_text: "Readings" %>

<% @articles.each_with_index do |content, index| %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="panel panel-default card">
				<% content.links.each do |link| %>
					<div class="row padding">
						<div class="col-md-3">
							<%= image_tag("resources_page/#{link.image_file_name}", class: "text-image", alt: link.image_file_name) %>
						</div>
						<div class="col-md-9">
							<% if not current_user.is_admin? %>
								<div class="row vertical-align-middle">
									<div class="col-md-12"><h3 class="card-title"><%= content.heading %></h3></div>
								</div>
							<% else %>
								<div class="row vertical-align-middle">
									<div class="col-md-10 col-xs-12"><h3 class="card-title"><%= content.heading %></h3></div>
									<div class="col-md-2 col-xs-12"><%= render "templates/buttons/crud/edit-button-tag", target: "#resourcesEditModal-#{content.id}" %></div>
									<%= render "edit-modal", content: content, index: content.id, link_end_count: content.links.count+1 %>
								</div>
							<% end %>
							<hr />
							<% if not tf_check(content.subheading) %>
								<h4><%= content.subheading %></h4>
							<% end %>
							<h5><%= format_header_date(content.created_at) %></h5><br />
							<%= simple_format(content.description, wrapper_tag: "p", class: 'card-text') %>
							<%= link_to "Visit Article &raquo".html_safe, link.link, :class => "btn btn-info", target: :_blank %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
