<%= render "templates/heading", text: @page.name, list_of_classes: "" %>

<%= render "templates/alerts/notice" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<div class="row">
			<% @resources.each_with_index do |content, index| %>
				<% add_id = "#resourcesAddModal-#{index}" %>
				<% if not current_user.is_admin? %>
					<div class="row">
						<div class="col-md-12">
							<h2><%= content.heading %></h2>
						</div>
					</div>
				<% else %>
					<div class="row vertical-align-middle">
						<div class="col-md-10">
							<h2><%= content.heading %></h2>
						</div>
							<div class="col-md-2">
								<%= button_tag :class => "btn btn-warning btn-block", title: 'Edit', data: { toggle: 'modal', target: "#resourcesEditModal-#{content.id}" } do %>
									<span class="glyphicon glyphicon-edit"></span> Edit
								<% end %>
							</div>
					</div>
					<%= render "edit-modal", content: content, index: content.id, link_end_count: content.links.count+1 %>
				<% end %>
				<div class="row">
					<% content.links.each do |link| %>
						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default">
								<div class="panel-body"><%= link_to image_tag(link.image.image.url, class: "image-center", alt: link.image.image_file_name), link.link, class: "header-link-text", target: :_blank if not link.image.blank? %></div>
							</div>
						</div>
					<% end %>
				</div>
				<br />
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Readings</h1>
		<hr />
	</div>
</div>
<% @articles.each_with_index do |content, index| %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="panel panel-default card">
				<% content.links.each do |link| %>
					<div class="row padding">
						<div class="col-md-3">
							<% if not link.image.blank? %>
								<%= image_tag(link.image.image.url, class: "text-image", alt: link.image.image_file_name) %>
							<% else %>
								<%= image_tag("resources_page/stock_kendo_image.jpg", class: "text-image", alt: "Stock Kendo Image") %>
							<% end %>
						</div>
						<div class="col-md-9">
							<% if not current_user.is_admin? %>
								<div class="row vertical-align-middle">
									<div class="col-md-12"><h3 class="card-title"><%= content.heading %></h3></div>
								</div>
							<% else %>
								<div class="row vertical-align-middle">
									<div class="col-md-10 col-xs-12"><h3 class="card-title"><%= content.heading %></h3></div>
									<div class="col-md-2 col-xs-12">
										<%= button_tag :class => "btn btn-warning btn-block", title: 'Edit', data: { toggle: 'modal', target: "#resourcesEditModal-#{content.id}" } do %>
											<span class="glyphicon glyphicon-edit"></span> Edit
										<% end %>
									</div>
									<%= render "edit-modal", content: content, index: content.id, link_end_count: content.links.count+1 %>
								</div>
							<% end %>
							<hr />
							<p class="card-text"><%= content.description.html_safe %></p>
							<%= link_to "Visit Article &raquo".html_safe, link.link, :class => "btn btn-info", target: :_blank %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
