<%= form_with(model: [:admin, content], url: path, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-1">
			<%= f.label :index, 'Content Order:' %>
			<% index_dropdown = content.new_record? ? Content.populate_new_index_dropdown(@current_page) : Content.populate_edit_index_dropdown(content) %>
			<%= f.select :index, index_dropdown, {}, { class: 'form-control' } %>
		</div>
		<% if not content.new_record? %>
			<div class="col-xs-3 col-xs-offset-6">
				<%= f.label :display_content_on_page, 'Display Content:' %>
				<%= f.check_box :display_content_on_page, { class: 'form-control' } %>
			</div>
		<% end %>
	</div>
	<div class="row text-center">
		<div class="col-xs-10 col-xs-offset-1">
			<%= f.label :heading, 'Heading:' %>
			<%= f.text_field :heading, { class: 'form-control' } %>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col-xs-10 col-xs-offset-1">
			<%= f.label :subheading, 'SubHeading:' %>
			<%= f.text_field :subheading, { class: 'form-control' } %>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col-xs-10 col-xs-offset-1">
			<%= tinymce %>
			<%= f.label :description, 'Description:' %>
			<%= f.text_area :description, { class: 'form-control tinymce', rows: 25 } %>
		</div>
	</div>
	<br />
	<div id='images'>
		<%= f.fields_for :images do |image| %>
			<%= render 'templates/nested-forms/image_fields', :f => image %>
		<% end %>
		<div class="row">
			<div class="col-xs-4 col-sm-offset-4">
				<%= render "templates/nested-forms/new-image-button", form: f %>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= render save_btn_path, f: f %>
		</div>
	</div>
<% end %>