<table class="table table-responsive table-striped">
	<thead>
		<tr class="align-center">
			<th>Heading</th>
			<th>Subheading</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% contents.each do |content| %>
			<tr class="align-center table-hover">
				<td><%= content.heading.truncate_words(5) %></td>
				<td><%= nil_check(content.subheading).truncate_words(5) %></td>
				<td><%= description_nil_check(content.description).truncate_words(10) %></td>
				<td><%= link_to "Show", admin_about_path(content), :class => "btn btn-success" %></td>
				<td>
					<%= link_to edit_admin_about_path(content), :class => "btn btn-warning" do %> 
						<span class="glyphicon glyphicon-edit"></span> Edit
					<% end %>
				</td>

			</tr>
		<% end %>
	</tbody>
</table>