<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-page", text: "About", path: admin_abouts_path(@content) %>
  </div>
</div>

<%= render "templates/heading", text: "Editing Content", list_of_classes: "align-center" %>

<%= render "templates/alerts/admin-notice" %>
<%= render "templates/alerts/form-errors", model: @content %>

<%= render "form", content: @content, path: admin_about_path(@content) %>
