<%= render "templates/alerts/admin-notice" %>

<div class="row vertical-align-middle">
	<div class="col-md-3">
		<%= render "templates/buttons/back-to-page", text: "About", path: admin_abouts_path %>
	</div>
	<div class="col-md-9 align-right">
		<%= render "templates/admin-modified-by", content: @content %>
	</div>
</div>

<div class="row vertical-align-middle">
	<div class="col-md-10">
		<h1><%= @content.heading %></h1>
	</div>
	<div class="col-md-2">
		<%= link_to edit_admin_about_path(@content), :class => "btn btn-warning btn-block", title: "Edit", 'data-toggle' => 'tooltip' do %> 
			<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
	</div>
</div>
<hr />

<% if not tf_check(@content.subheading) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= @content.subheading %></h2>
		</div>
	</div>
<% end %>

<% if not tf_check(@content.description) %>
	<div class="paragraph-container">
		<div class="row">
			<div class="text-image-column">
				<%= simple_format(@content.description, wrapper_tag: "p", class: 'indent-paragraph') %>
			</div>
			<div class="text-image-column">
				<% @content.images.each do |image| %>
					<%= image_tag(image.image.url, class: "text-image", alt: "Image") %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
