<%= render "layouts/admin/show-header", back_text: "About", back_path: admin_abouts_path, object: @content, edit_path: edit_admin_about_path(@content) %>

<% if not tf_check(@content.subheading) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= @content.subheading %></h2>
		</div>
	</div>
<% end %>

<% if not tf_check(@content.description) %>
	<div class="paragraph-container">
		<div class="row">
			<div class="text-image-column">
				<%= simple_format(@content.description, wrapper_tag: "p", class: 'indent-paragraph') %>
			</div>
			<div class="text-image-column">
				<% if @content.images.count > 1 %>
					<div class="aboutCarousel carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<% @content.images.each_with_index do |image, index| %>
								<% active_option = index==0 ? 'active' : '' %>
								<li data-slide-to="<%=index%>" class="aboutCarousel <%=active_option%>"></li>
							<% end %>
						</ol>
						<div class="carousel-inner">
							<% @content.images.each_with_index do |image, index| %>
								<div class="item <%= "active" if index == 0 %>">
									<%= image_tag(image.image.url, class: "d-block w-100", alt: image.image_file_name) %>
								</div>
							<% end %>
						</div>
					</div>
				<% else %>
					<% content_image = content.images.first %>
					<%= image_tag(content_image.image.url, class: "text-image", alt: content_image.image_file_name) %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
