<% if f.object.new_record? %>
	<div class="row vertical-align-middle">
		<div class="col-xs-2 align-right"><%= f.label :pdf, 'Attach New PDF:' %></div>
		<div class="col-xs-9"><%= f.file_field :pdf, class: 'form-control' %></div>
	</div>
	<br />
<% else %>
	<div class="row vertical-align-middle nested-fields">
		<div class="col-xs-1">
			<%= render "templates/nested-forms/remove-button", f: f %>
		</div>
		<div class="col-xs-2 align-right"><strong>PDF <%=f.index+1%>:</strong></div>
		<div class="col-xs-6"><%= f.object.pdf_file_name %></div>
	</div>
	<hr />
<% end %>
