<% if f.object.new_record? %>
	<div class="row text-center">
		<div class="col-xs-6 col-xs-offset-3">
			<%= f.label :link, 'Image:' %>
			<%= f.file_field :image, class: 'form-control' %>		
		</div>
	</div>
<% else %>
	<div class="row text-center">
		<div class="col-xs-2 col-xs-offset-2">
			<% path = f.object.article ? "resources_page/" : "logos/" %>
			<%= image_tag(path + f.object.image_file_name, class: "small-form-image", alt: f.object.image_file_name) if not f.object.image_file_name.nil? %>
		</div>
		<div class="col-xs-5 col-xs-offset-1">
			<%= f.label :image, 'Replace Image:' %>
			<%= f.file_field :image, class: 'form-control' %>
		</div>
	</div>
<% end %>
<br />
<div class="row text-center">
	<div class="col-xs-2 col-xs-offset-1">
		<%= f.label :index, 'Index:' %>
		<%= f.select :index, (1..10), {}, { class: 'form-control' } %>

	</div>
	<div class="col-xs-8">
		<%= f.label :name, 'Name:' %>
		<%= f.text_field :name, { class: 'form-control' } %>
	</div>
</div>
<br />
<div class="row text-center">
	<div class="col-xs-8 col-xs-offset-1">
		<%= f.label :link, 'Link:' %>
		<%= f.text_field :link, { class: 'form-control' } %>
	</div>
	<% if not f.object.new_record? %>
		<div class="col-xs-3">
			<%= f.label :destroy, 'Remove Link?' %>
			<%= f.check_box '_destroy', { class: 'form-control' } %>
		</div>
	<% end %>
</div>
<hr /><br />