<%= form_with(model: class_schedule, local: true) do |form| %>
  <% if class_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_schedule.errors.count, "error") %> prohibited this class_schedule from being saved:</h2>

      <ul>
      <% class_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day_of_week %>
    <%= form.text_field :day_of_week %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :cost_per_month %>
    <%= form.text_field :cost_per_month %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
