<p id="notice"><%= notice %></p>

<h1>Class Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Day of week</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Cost per month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_schedules.each do |class_schedule| %>
      <tr>
        <td><%= class_schedule.day_of_week %></td>
        <td><%= class_schedule.start_time %></td>
        <td><%= class_schedule.end_time %></td>
        <td><%= class_schedule.cost_per_month %></td>
        <td><%= link_to 'Show', class_schedule %></td>
        <td><%= link_to 'Edit', edit_class_schedule_path(class_schedule) %></td>
        <td><%= link_to 'Destroy', class_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Schedule', new_class_schedule_path %>
