<%= render "templates/buttons/back-to-admin-home" %>

<h1 class="h1-heading">Class Schedule</h1>
<hr />

<h1 id="notice"><%= notice %></h1>

<table class="table table-responsive table-striped" id="class_schedule_table">
  <thead>
    <tr class="align-center">
      <th>Day</th>
      <th>Time</th>
      <th>Cost per Month</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @class_schedules.each do |class_schedule| %>
      <tr class="align-center">
        <td><%= class_schedule.day_of_week %></td>
        <td><%= formatTime(class_schedule.start_time) %> - <%= formatTime(class_schedule.end_time) %></td>
        <td>$<%= class_schedule.cost_per_month %></td>
        <td>
          <%= link_to edit_admin_class_schedule_path(class_schedule), :class => "btn btn-warning", title: "Edit #{class_schedule.day_of_week}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to [:admin, class_schedule], :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove #{class_schedule.day_of_week} Class", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "templates/buttons/add-new", path: new_admin_class_schedule_path, text: "Class" %>

