<p id="notice"><%= notice %></p>

<p>
  <strong>Day of week:</strong>
  <%= @class_schedule.day_of_week %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @class_schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @class_schedule.end_time %>
</p>

<p>
  <strong>Cost per month:</strong>
  <%= @class_schedule.cost_per_month %>
</p>

<%= link_to 'Edit', edit_class_schedule_path(@class_schedule) %> |
<%= link_to 'Back', class_schedules_path %>
