<%= render "templates/admin/index-header", path: new_admin_practice_path, new_btn_text: "Class", heading_text: "Class Schedule" %>

<table class="table table-responsive table-striped" id="class_schedule_table">
  <thead>
    <tr class="text-center">
      <th>Day</th>
      <th>Time</th>
      <th>Cost per Month</th>
      <th colspan="2">Last Modified</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @practices.each do |practice| %>
      <tr class="text-center table-hover">
        <td><%= practice.day_of_week %></td>
        <td><%= formatTime(practice.start_time) %> - <%= formatTime(practice.end_time) %></td>
        <td>$<%= practice.cost_per_month %></td>
        <td><%= practice.user.concat_name %></td>
        <td><%= formateDateTimeWithAt(practice.updated_at) %></td>
        <td><%= render edit_btn_path, edit_path: edit_admin_practice_path(practice) %></td>
        <td><%= render remove_btn_path, remove_model: [:admin, practice] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
