<%= form_with(model: [:admin, user], local: true, class: "form-horizontal", html: { autocomplete: "off" }) do |form| %>
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= form.label :firstname, 'First Name:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.text_field :firstname, class: 'form-control' %></div>
    <div class="col-md-2 col-xs-12 align-right"><%= form.label :lastname, 'Last Name:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.text_field :lastname, class: 'form-control' %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= form.label :email, 'Email:' %></div>
    <div class="col-md-8 col-xs-12"><%= form.text_field :email, class: 'form-control' %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= form.label :user_role_id, 'User Role:' %></div>
    <div class="col-md-3 col-xs-12"><%= form.select :role, ["Admin", "User"], {:include_blank => "Please select a User Role"}, {class: "form-control", id: :user_role} %></div>
    <div class="col-md-2 col-xs-12 align-right"><%= form.label :active, 'Active?', class: 'cursor-pointer' %></div>
    <div class="col-md-3 col-xs-12"><label><%= form.check_box :active, class: 'cursor-pointer' %><span class="checkmark"></span></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form.submit "Save", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>

<br /><br />
<h1 class="align-center">Change Password</h1>
<hr />

<%= form_with(model: user, local: true, :url => { :action => "update_password" }, class: "form-horizontal", html: { autocomplete: "off" }) do |f| %>
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= f.label :current_password, "Current Password:" %> <br /><i>(we need your current password to confirm your changes)</i></div>
    <div class="col-md-8 col-xs-12"><%= f.password_field :current_password, class: 'form-control' %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= f.label :password, "New Password:" %></div>
    <div class="col-md-8 col-xs-12"><%= f.password_field :password, class: 'form-control', :autocomplete => "off" %></div>
  </div>
  <br />
  <div class="row vertical-align-middle">
    <div class="col-md-2 col-xs-12 align-right"><%= f.label :password_confirmation, "Confirm New Password:" %></div>
    <div class="col-md-8 col-xs-12"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.hidden_field :id, :value => user.id %>
      <%= f.submit "Save", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>