<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/add-new", path: new_admin_user_path, text: "User" %>
  </div>
</div>

<%= render "templates/heading", text: "Miyoga Kendo Roster", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>

<ul class="nav nav-tabs nav-justified text-link">
  <li class="active"><a data-toggle="tab" href="#active_users">Active Users</a></li>
  <li><a data-toggle="tab" href="#active_admins">Active Admins</a></li>
  <li><a data-toggle="tab" href="#inactive_users">Inactive Users</a></li>
  <li><a data-toggle="tab" href="#inactive_admins">Inactive Admins</a></li>
</ul>

<div class="tab-content">
  <div id="active_users" class="tab-pane fade in active">
    <br />
    <%= render "table", users: @active_users %>
  </div>
  <div id="active_admins" class="tab-pane fade">
    <br />
    <%= render "table", users: @active_admins %>
  </div>
  <div id="inactive_users" class="tab-pane fade in">
    <br />
    <%= render "table", users: @inactive_users %>
  </div>
  <div id="inactive_admins" class="tab-pane fade">
    <br />
    <%= render "table", users: @inactive_admins %>
  </div>
</div>
