<h1 id="notice"><%= notice %></h1>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr class="align-center">
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Active?</th>
      <th>Last Login</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="align-center">
        <td><%= user.concat_name %></td>
        <td><%= user.email %></td>
        <td><%= user.display_role %></td>
        <td><%= user.display_active %></td>
        <td><%= user_nil_last_login(user.last_login) %></td>
        <td>
          <%= link_to edit_admin_user_path(user), :class => "btn btn-warning", title: "Edit #{user.firstname}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to [:admin, user], :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove #{user.firstname}", 'data-toggle' => 'tooltip' do %> 
            <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New User', new_admin_user_path, class: "btn btn-success" %>
