<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-page", text: "Miyoga Roster", path: admin_users_path %>
  </div>
</div>

<%= render "templates/heading", text: "Add New User", list_of_classes: "align-center" %>

<%= render "templates/alerts/notice" %>
<%= render "templates/alerts/form-errors", model: @user %>

<%= render 'form', user: @user %>
