<p id="notice"><%= notice %></p>
<h1><%=@user.concat_name%></h1>
<h2><%=@user.email%></h2>
<% if current_user.is_admin? %>
	<h3>Active or Archived?: <%=@user.display_active%></h3>
	<h3>Role: <%=@user.role%></h3>
	<h3>Last Login: <%=user_nil_last_login((@user.last_login)%></h3>
<% end %>
