<%= render notice_path%>
<%= render alert_path %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="text-center">Recent Users</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr class="text-center">
								<th>Name</th>
								<th>Role</th>
								<th>Last Login</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr class="text-center table-hover">
									<td><%=user.concat_name%></td>
									<td><%=user.role%></td>
									<td><%=user_nil_last_login(user.last_login)%></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<p><%= link_to "View All Users", admin_users_path, :class => "btn btn-success btn-block" %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="text-center">My Profile</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<h2 class="text-center"><%= current_user.concat_name %></h2>
					<p class="text-center"><%= current_user.email %></p>
					<p class="text-center"><%= current_user.role %></p>
					<br />
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<p><%= link_to 'View My Profile', edit_admin_user_path(current_user), :class => "btn btn-primary btn-block" %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="text-center">Social Media Accounts</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<% @social_media.in_groups_of(3, false) do |social_media_array| %>
						<div class="row text-center">
							<% social_media_array.each do |social_media| %>
								<div class="col-md-4 col-sm-12 padding-top-bottom">
									<%= link_to image_tag(social_media.image.url, class: "image-center", alt: "#{social_media.site_name} Logo") + " #{social_media.site_name}", social_media.site_link, class: "social_media_logo text-link unselectable-link", target: :_blank %>
								</div>
							<% end %>
						</div>
					<% end %>	
				</div>
			</div>
		</div>
	</div>
</div>