<h1 class="align-center">Admin Dashboard</h1>
<hr />
<h1 id="notice"><%= notice %></h1>

<div class="row row-padding">
	<div class="col-md-6">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>
						<span class="glyphicon glyphicon-user"></span> Users
						<span class='badge' style='background-color: #777777'><%=@user_count%></span>
					</h1>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr class="align-center">
								<th>Name</th>
								<th>Email</th>
								<th>Active</th>
								<th>Role</th>
								<th>Last Login</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr class="align-center">
									<td><%=user.concat_name%></td>
									<td><%=user.email%></td>
									<td><%=user.display_active%></td>
									<td><%=user.role%></td>
									<td><%=nil_check(user.last_login) ? "n/a" : formateDateTimeWithAt(user.last_login) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<%= link_to "View All Users &raquo".html_safe, admin_users_path, :class => "btn btn-success" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1><span class="glyphicon glyphicon-user"></span> Social Media Accounts</h1>
				</div>
				<div class="panel-body">
					<div class="row align-center">
						<div class="col-md-4 col-sm-12 padding-top-bottom">
							<%= link_to image_tag("logos/gmail.png", alt: "Gmail Logo") + " Miyoga Email", "https://mail.google.com/mail/u/0/#inbox", target: '_blank', class: "social_media_logo" %>
						</div>
						<div class="col-md-4 col-sm-12 padding-top-bottom">
							<%= link_to image_tag("logos/facebook.png", alt: "Facebook Logo") + " Facebook Group", "https://www.facebook.com/groups/672754536102008/", target: '_blank', class: "social_media_logo" %>
						</div>
						<div class="col-md-4 col-sm-12 padding-top-bottom">
							<%= link_to image_tag("logos/dropbox.png", alt: "Dropbox Logo") + " Miyoga Dropbox", "https://www.dropbox.com/home/Miyoga%20Kendo%20Kai", target: '_blank', class: "social_media_logo" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>