<h1 class="align-center">Admin Dashboard</h1>
<hr />
<h1 id="notice"><%= notice %></h1>

<%= link_to "Events", admin_events_path, :class => "btn btn-success" %>
<%= link_to "Class Schedule", admin_class_schedules_path, :class => "btn btn-info" %>

<div class="row row-padding">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>
						<span class="glyphicon glyphicon-user"></span> Users
						<span class='badge' style='background-color: #777777'><%=@user_count%></span>
					</h1>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr class="align-center">
								<th>Name</th>
								<th>Email</th>
								<th>Role</th>
								<th>Last Login</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr class="align-center">
									<td><%=user.concat_name%></td>
									<td><%=user.email%></td>
									<td><%=user.role%></td>
									<td><%=nil_check(user.last_login) ? "n/a" : formateDateTimeWithAt(user.last_login) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<%= link_to "View All Users &raquo".html_safe, admin_users_path, :class => "btn btn-success" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1><span class="glyphicon glyphicon-user"></span> Social Media Accounts</h1>
				</div>
				<div class="panel-body">
					<div class="row align-center">
						<% @social_media.each do |social_media| %>
							<div class="col-md-4 col-sm-12 padding-top-bottom">
								<%= link_to image_tag("logos/#{social_media.image_link}", alt: "#{social_media.site_name} Logo") + " #{social_media.site_name}", social_media.site_link, target: '_blank', class: "social_media_logo" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>