<%#= render "templates/heading", text: "Admin Dashboard", list_of_classes: "align-center" %>
<%= render "templates/alerts/notice" if notice && current_user.is_admin? %>
<%= render "templates/alerts/alert" %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="align-center">Recent Users</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr class="align-center">
								<th>Name</th>
								<th>Role</th>
								<th>Last Login</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr class="align-center">
									<td><%=user.concat_name%></td>
									<td><%=user.role%></td>
									<td><%=nil_check(user.last_login) ? "n/a" : formateDateTimeWithAt(user.last_login) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<p><%= link_to "View All Users", admin_users_path, :class => "btn btn-success btn-block" %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="align-center">My Profile</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<h2 class="align-center"><%= current_user.concat_name %></h2>
					<p class="align-center"><%= current_user.email %></p>
					<p class="align-center"><%= current_user.role %></p>
					<br />
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<p><%= link_to 'View My Profile', edit_admin_user_path(current_user), :class => "btn btn-primary btn-block" %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12"><h1 class="align-center">Social Media Accounts</h1></div>
					</div>
				</div>
				<div class="panel-body">
					<% @social_media.in_groups_of(3) do |social_media_array| %>
						<div class="row align-center">
							<% social_media_array.compact.each do |social_media| %>
								<div class="col-md-4 col-sm-12 padding-top-bottom">
									<%= link_to image_tag("logos/#{social_media.image_link}", alt: "#{social_media.site_name} Logo") + " #{social_media.site_name}", social_media.site_link, target: '_blank', class: "social_media_logo" %>
								</div>
							<% end %>
						</div>
					<% end %>	
				</div>
			</div>
		</div>
	</div>
</div>