<div class="row">
	<div class="col-md-12">
		<h1>Resources</h1><hr />
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="row">
				<div class="col-md-12">
					<h2>Equipment</h2><hr />
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body"><%= link_to image_tag("logos/e_bogu.png", class: "image-center", alt: "E-Bogu"), "https://www.e-bogu.com/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body"><%= link_to image_tag("logos/tozando.jpg", class: "image-center", alt: "Tozando"), "https://www.tozandoshop.com/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body">
						<%= link_to image_tag("logos/maruyama.jpg", class: "image-center", alt: "E-Bogu"), "https://maruyamakendosupply.com/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<%= link_to image_tag("logos/kendo_star.jpeg", class: "image-center", alt: "Tozando"), "https://kendostar.com/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Federations</h2><hr />
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body"><%= link_to image_tag("logos/mwkf.jpg", class: "image-center", alt: "MWKF"), "https://midwestkendofederation.wordpress.com/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="panel panel-default">
					  <div class="panel-body"><%= link_to image_tag("logos/auskf.png", class: "image-center", alt: "AUSKF"), "http://www.auskf.info/index.htm", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Readings</h2><hr />
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Keiko</div>
						<div class="panel-body">Read this article about keiko.</div>
						<div class="panel-footer"><%= link_to "Read more here...", "https://kenshi247.net/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Kata</div>
						<div class="panel-body">Read this article about kata.</div>
						<div class="panel-footer"><%= link_to "Read more here...", "https://kenshi247.net/", class: "header-link-text", target: :_blank %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>