<div class="row">
	<div class="col-md-12">
		<h1><%=@current_page.name%></h1>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<div class="row">
			<% @resources.each do |content| %>
				<h2><%= content.heading %></h2>
				<div class="col-md-12">
					<div class="row">
						<% content.links.each do |link| %>
							<div class="col-md-3 col-sm-6">
								<div class="panel panel-default">
								  <div class="panel-body"><%= link_to image_tag("logos/#{link.image_link}", class: "image-center", alt: link.name), link.link, class: "header-link-text", target: :_blank %></div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Readings</h1>
		<hr />
	</div>
</div>
<% @articles.each_with_index do |article, index| %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="panel panel-default card">
					<div class="row padding">
						<div class="col-md-3">
							<%= image_tag("helpful_links_page/stock-article-image.jpg", class: "text-image", alt: "Article Image") %>
						</div>
						<div class="col-md-9">
							<h4 class="card-title"><%= article.heading %></h4>
							<hr />
							<p class="card-text"><%= article.description %></p>
							<% article.links.each do |link| %>
								<%= link_to "Visit Article &raquo".html_safe, link.link, :class => "btn btn-info", target: :_blank %>
							<% end %>
						</div>
					</div>
			</div>
		</div>
	</div>
<% end %>
