<p>To purchase Kendo gear and equipment:</p>
<p>E-Bogu</p>
<p><%= link_to "https://www.e-bogu.com/", "https://www.e-bogu.com/", class: "no-link-text", target: :_blank %></p>
<p>Tozando</p>
<p><%= link_to "https://www.tozandoshop.com/", "https://www.tozandoshop.com/", class: "no-link-text", target: :_blank %></p>
<br />

<p>Midwest Kendo Federation (MWKF)</p>
<p><%= link_to "https://midwestkendofederation.wordpress.com/", "https://midwestkendofederation.wordpress.com/", class: "no-link-text", target: :_blank %></p>
<p>All United States Kendo Federation (AUSKF)</p>
<p><%= link_to "http://www.auskf.info/index.htm", "http://www.auskf.info/index.htm", class: "no-link-text", target: :_blank %></p>
<br />

<p>Youtube Tutorials</p>
<p><%= link_to "https://www.youtube.com/playlist?list=PL0vPcLdPgckVOP_1-aCrdBNmjbfJ7oDG3", "https://www.youtube.com/playlist?list=PL0vPcLdPgckVOP_1-aCrdBNmjbfJ7oDG3", class: "no-link-text", target: :_blank %></p>