<footer>
	<nav class="navbar-default">
		<h4 class="center-vertically margins-auto white-text">
			© <%= Date.today.year %> <%= favicon_link_tag asset_path('logos/miyoga_crest.png') %> <%= @miyoga_user.concat_name %> | 
			<%= @dojo_address.address_line_1 %> 
			<%= @dojo_address.address_line_2 %> 
			<%= @dojo_address.city %>, <%= @dojo_address.state.abbreviation %> <%= @dojo_address.zip_code %> | 
			<%= mail_to @miyoga_user.email, @miyoga_user.email, class: "link-text", style: "color: white" %>
		</h4>
	</nav>
</footer>