<div class="row miyoga-header">
  <div class="col-sm-12 col-md-1"><%= link_to image_tag("logos/miyoga_crest.png", class: "miyoga_header_image", alt: "Miyoga Logo"), root_path, class: "header-link-text" %></div>
  <div class="col-sm-12 col-md-11"><%= link_to raw("<h1 class='miyoga-heading-text'>Miyoga Kendo Club</h1>"), root_path, class: "header-link-text" %></div>
</div>
<% if current_user %>
  <p class="align-right padding-right">Logged in as: <strong><%=current_user.concat_name%></strong></p>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% @active_ordered_pages.each do |page| %>
          <li><%= link_to page.name, page.path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <% if current_user.is_admin? %>
            <li><%= link_to "Admin Home", admin_root_path %></li>
          <% end %>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>