<!DOCTYPE html>
<html>
  <head>
    <title>Miyoga Kendo | <%= controller.controller_name.sub(/^./, &:upcase) %></title>
    <%= favicon_link_tag asset_path('miyoga_crest.png') %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
    <%= render "layouts/header" %>
    <div class="body-container">
      <%= yield %>
    </div>
  </body>
</html>
