<!DOCTYPE html>
<html>
  <head>
    <title>Miyoga Kendo - <%= controller.controller_name.sub(/^./, &:upcase) %></title>
    <link rel="shortcut icon" href="http://www.midwestkendofederation.com/wp-content/uploads/2016/11/japanese-cultural-center-chicago.png"/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
    <%= render "layouts/header" %>

    <%= yield %>
  </body>
</html>
