<!DOCTYPE html>
<html>
  <head>
    <title>Miyoga Kendo</title>
    <%= favicon_link_tag asset_path('logos/miyoga_crest.png') %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body class="container-fluid">
    <%= render "layouts/header" %>
    <%= '<div class="padding">'.html_safe unless current_page?(root_path) %>
    <%= yield %>
  </body>
</html>
